.header {
  text-align: center;
  background-color: #333333;
  padding: 17px 16px;

  .logo {
    height: 30px;
  }
}

.painel-clientes {
  max-width: 80vw;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 42px;

  &__novo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__novo,
  .novo-usuario__header {
    p:first-of-type {
      color: #47525e;
      font-size: 1.1rem;
    }

    p:nth-of-type(2) {
      color: #666666;
      font-size: 0.9rem;
    }
  }
}
