.painel-clientes__novo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  p:first-of-type {
    font-size: 1.1rem;
    color:#47525E
  }

  p:nth-of-type(2) {
    font-size: .8rem;
    color: #666666;
    font-weight: 300;
  }

  button {
    background-color:#E29933;
    color:#fff;
    border: 1px solid transparent;
    display: inline-block;
    height: min-content;
    width: max-content;
    padding: 8px 16px;
    border-radius: 5px;

    &:hover {
      color: #E29933;
      border-color: #E29933;
      background-color: #fff;
      
    }
  }
}