.novo-usuario {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & input, & select {
      margin: 6px 0;
      border: 1px solid #8492a6;
      border-radius: 5px;
      height: 30px;
      padding-left: 12px;
      width: 256px;
    } 

    .buttons {
      margin-top: 16px;
    }

    .create,
    .back {
      padding: 8px 22px;
      border: 1px solid;
      border-radius: 5px;
    }

    .create {
      color: #fff;
      background-color: #e29933;
      margin-right: 8px;
    }

    .back {
      color: #e29933;
      background-color: #fff;
    }
  }
}

